
      <section></section>

      <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <!------ Include the above in your HEAD tag ---------->

      <div class = "container">


        <nav>
          <hr class="colorgraph"><br>

          <ul>

            <div class="row col-12  mt-4">

              <div class="col-lg-3 col-md-6" >
                <a class="nav-link" href="proyecto"><li ><span>Proyectos</span></li></a>
            </div>
            <div class="col-lg-3 col-md-6" >
              <li><span>Proveedores</span></li>
            </div>
              <div class="col-lg-3  col-md-6" >
                <li><span>Indicadores</span></li>
              </div>

                <div class="col-lg-3 col-md-6" >
                  <li><span>Reportes</span></li>
                </div>

            </div>

            <div class="row col-12  mt-4">

              <div class="col-lg-3 col-md-6" >
                <a class="nav-link" href="#"><li ><span>Catalogos</span></li></a>
            </div>
            <div class="col-lg-3 col-md-6" >
              <li><span>Usuarios</span></li>
            </div>
              <div class="col-lg-3  col-md-6" >
                <li><span>Configuración</span></li>
              </div>

            

            </div>


          </ul>
          <hr class="colorgraph"><br>

        </nav>

  </div>
