<div class="container">
  <br>
  <p style="text-align: center" class="center">Catalogo Personas</p>
  <table border="1">
    <tr>
      <td>
        <li><a href="#">Estados</a></li> <br>
        <li><a href="#">Estatus de Proyectos</a></li> <br>
        <li><a href="#">Modalidades</a></li><br>
        <li><a href="#">Personas</a></li><br>
      </td>
    </tr>

  </table>

  <div class="busqueda">
    <label>Buscar:</label>
    <input type="text" name="">
    <input type="submit" value="Buscar" link rel="stylesheet" type="text/css" href="fonts/style.css">
    <p align="center"> <span class="icon-search"> </span> </p>
  </div>


  <table border="1">
    <tr>
      <td><strong>RFC</strong></td>
      <td><strong>Nombre</strong></td>
      <td><strong>Rol</strong></td>
    </tr>

    <tr>
      <td>BEGO731126819</td>
      <td>Juan Perez Peres</td>
      <td>Investigador</td>
    </tr>

    <tr>
      <td>BEGO731126819</td>
      <td>Pedro Perez Peres</td>
      <td>Tecnologo</td>
    </tr>

    <tr>
      <td>BEGO731126819</td>
      <td>Francisco Perez Peres</td>
      <td>Estudiante Licenciatura</td>
    </tr>

    <tr>
      <form>
        <button>Datos Generales</button>
        <button>Dirección</button>
        <button>Regiones</button>
      </form>
    </tr>
  </table>

  <table border="1">
    <tr>
      <td> <label>RFC:</label>
        <input type="text" name="">

        <label>Nombre:</label>
        <input type="text" name="">


        <label for="Tipo de Persona:"> Tipo de Persona</label>
        <select name="Tipo de Persona">
          <option value="Persona Fisica"> Persona Fisica</option>
        </select>
      </td>
    </tr>

  </table>
</div>
