.mat-tab-group {
  margin-bottom: 48px;
}
span
{
  background-color: white;
  border: 0px;
}
.form-control
{
  border-radius: 10px !important;
}

.btn-secondary-class
{
  border-radius: 30px !important;
}

.form-select
{
  border-radius: 10px !important;
}
